/* shared   style */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;0,800;1,400&family=Work+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
  font-family: 'Open Sans', sans-serif;
  font-family: 'Work Sans', sans-serif;
}

.btn-primary{ 
   background-color:rgb(184, 110, 15);
   padding: 15px  30px;
   color: beige;
   border:  none;
   border-radius: 5px;
   font-size: 1.25rem;
   font-weight: 600;
   cursor: pointer;
}
/* header  related  style */

header{
  background-color: antiquewhite;
  padding: 50px  240px;
} 

 nav{
  display:flex ;
  justify-content: space-between;
}

 nav>ul{
  display: flex;
} 

nav li{
  list-style: none;
  font-weight: 500px;
  font-size: 1rem;
  margin-right: 30px;
} 

 nav li a{
  text-decoration:none;
  color: rgba(34, 32, 32, 0.452);
} 
/* banner  related  style */
 .banner-content{
  max-width:800px ;
  text-align:center;
  margin: 0 auto;
 
} 

 .banner-title{
font-size: 4rem;
font-weight:500 ;
color: black;
  
} 

.banner img{
  margin-top: 20px;
  width: 100%;
} 

/* main  related  style */

main{
  max-width: 1440px;
  margin: 0 auto;
}

/* teams  styles */

.teams-container{
  display: flex;
  align-items: center;
}

  .teams-img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
  }
.teams-content{
  padding-left: 70px;
  padding-right: 70px;
}
.teams-title{
  font-size: 45px;
  color: rgb(150, 139, 139);
}

.teams-title .span-one{
  color: black;
}

.teams-title .span-two{
  color: orange;
}
/* styles of   media  quaery */

/* mobile  devices */

@media screen and (max-width:576px) {
      header{
        padding: 20px;
      }

      nav{
        flex-direction: column;
      }
} 


/* tablet or medium device */

 @media screen and(min-width:576px) and  (max-width:960px) {
  
  header{
    padding: 50px;
  }

  nav{
    flex-direction: column;
  }
} 
